/*-------------
General
-------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover {
	opacity: 1;
}

section {
	margin: auto;
	padding-top: 100px;
}

.link {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 30px;
	cursor: pointer;
}

a.link {
	opacity: 1;
}


/*-------------
COLORS
-------------*/
:root {
	--color-base: #75798F;
	--color-bg: #F5F9FB;
}


/*-------------
TYPOGRAPHY
-------------*/
p {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: var(--color-base);
	margin-bottom: 10px;
}

.p-big {
	font-size: 22px;
	font-weight: 600;
	line-height: 38px;
}

.p-small {
	font-size: 14px;
	line-height: 14px;
}

h1, h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
}

h1, h2 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

h3, h4 {
	font-weight: 500;
}

h1 {
	font-weight: 900;
	color: #d0d2de;
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	font-weight: 600;
	color: #4d516d;
	margin-bottom: 10px;
}

h3 {
	margin-bottom: 10px;
}

.title-versions {
	text-align: center;
	margin-bottom: 20px;
}

.semibold {
	font-weight: 600;
}


/*-------------
LINKS
-------------*/
a.versions {
	font-weight: 700;
	transition: all 0.3s ease;
}

p a {
	border-bottom: 2px solid var(--color-base);
}


/*-------------
SHADOW
-------------*/
.has-shadow {
	-webkit-box-shadow: 0px 5px 30px 0px rgba(210, 210, 210, 0.5);
	-moz-box-shadow: 0px 5px 30px 0px rgba(210, 210, 210, 0.5);
	box-shadow: 0px 5px 30px 0px rgba(210, 210, 210, 0.5);
}


/*-------------
HEADER
-------------*/

.header {
	padding: 100px 20%;
	background-color: var(--color-bg);
}


/*-------------
BUTTONS
-------------*/
.btns {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.btn {
	text-align: center;
	background-color: var(--color-bg);
	transition: all 0.3s ease;
}

.btn:hover h4 {
	color: white;
	transition: all 0.7s ease;
}


/*-------------
IMG
-------------*/
.image {
	width: 70%;
	margin: 40px auto;
	display: flex;
	border-radius: 10px;
}


/*-------------
CONTAINER
-------------*/
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container .item {
	/* width: calc(50% - 10px); */
	border-radius: 10px;
	background-color: white;
	transform: translateY(0px);
	transition: all .3s ease;
	margin-bottom: 20px;
}

.container .item:hover {
	-webkit-box-shadow: 0px 10px 30px 0px rgba(210, 210, 210, 1);
	-moz-box-shadow: 0px 10px 30px 0px rgba(210, 210, 210, 1);
	box-shadow: 0px 10px 30px 0px rgba(210, 210, 210, 1);
	transform: translateY(-5px);
}

.container .item .download {
	text-align: center;
	align-self: flex-end;
}

.download svg {
	margin-bottom: 5px;;
}


@media (min-width: 320px) {

	h1 {
		font-size: 40px;
		line-height: 40px;
	}

	h2 {
		font-size: 28px;
	}

	h3, h4 {
		font-size: 18px;
	}

	.header {
		padding: 75px 5%;
	}

	section {
		width: 90%;
		padding-top: 75px;
	}

	.container {
		flex-direction: column;
	}

	.item {
		width: 100%;
	}

	.image {
		width: 100%;
	}

	.btn {
		margin: 10px 10px;
		border-radius: 10px;
		padding: 5px;
		width: 150px;
	}
}

@media (min-width: 768px) {

	h1 {
		font-size: 60px;
		line-height: 60px;
	}

	h3, h4 {
		font-size: 22px;
	}

	h2 {
		font-size: 35px;
	}

	.header {
		padding: 100px 5%;
	}
}


@media (min-width: 1024px) {
	h1 {
		font-size: 85px;
		line-height: 85px;
	}

	.container {
		flex-direction: row;
	}

	.item {
		width: calc(50% - 10px);
	}

	section {
		padding-top: 100px;
	}

	.image {
		width: 70%;
	}

	.btn {
		margin: 15px 15px;
		border-radius: 10px;
		padding: 10px;
		width: 200px;
	}
}


@media (min-width: 1280px) {
	section {
		width: 70%;
	}

	.header {
		padding: 100px 15%;
	}
}






