/*-------------
COLORS
-------------*/
:root {
	--color-v01: #51A2FF;
	--color-v02: #FF9292;
	--color-v03: #00cec9;
	--color-v04: #a29bfe;
	--color-v05: #e17055;
	--color-v06: #FFC312;
	--color-v07: #D980FA;
	--color-v08: #B53471;
}


/*---- VERSION 01 ----*/
#version01 h1,
#version01 h2,
#version01 h3,
.btn01 h4,
a.versions.v01:hover {
	color: var(--color-v01);
}

a.versions.v01 {
	border-bottom: 2px solid var(--color-v01);
}

#version01 .ico {
	fill: var(--color-v01);
}

.btn01 {
	border: 2px solid var(--color-v01);
}

.btn01:hover {
	background-color: var(--color-v01);
}


/*---- VERSION 02 ----*/
#version02 h1,
#version02 h2,
#version02 h3,
.btn02 h4,
a.versions.v02:hover {
	color: var(--color-v02);
}

a.versions.v02 {
	border-bottom: 2px solid var(--color-v02);
}

#version02 .ico {
	fill: var(--color-v02);
}

.btn02 {
	border: 2px solid var(--color-v02);
}

.btn02:hover {
	background-color: var(--color-v02);
}


/*---- VERSION 03 ----*/
#version03 h1,
#version03 h2,
#version03 h3,
.btn03 h4,
a.versions.v03:hover {
	color: var(--color-v03);
}

a.versions.v03 {
	border-bottom: 2px solid var(--color-v03);
}

#version03 .ico {
	fill: var(--color-v03);
}

.btn03 {
	border: 2px solid var(--color-v03);
}

.btn03:hover {
	background-color: var(--color-v03);
}


/*---- VERSION 04 ----*/
#version04 h1,
#version04 h2,
#version04 h3,
.btn04 h4,
a.versions.v04:hover {
	color: var(--color-v04);
}

a.versions.v04 {
	border-bottom: 2px solid var(--color-v04);
}

#version04 .ico {
	fill: var(--color-v04);
}

.btn04 {
	border: 2px solid var(--color-v04);
}

.btn04:hover {
	background-color: var(--color-v04);
}


/*---- VERSION 05 ----*/
#version05 h1,
#version05 h2,
#version05 h3,
.btn05 h4,
a.versions.v05:hover {
	color: var(--color-v05);
}

a.versions.v05 {
	border-bottom: 2px solid var(--color-v05);
}

#version05 .ico {
	fill: var(--color-v05);
}

.btn05 {
	border: 2px solid var(--color-v05);
}

.btn05:hover {
	background-color: var(--color-v05);
}

/*---- VERSION 06 ----*/
#version06 h1,
#version06 h2,
#version06 h3,
.btn06 h4,
a.versions.v06:hover {
	color: var(--color-v06);
}

a.versions.v06 {
	border-bottom: 2px solid var(--color-v06);
}

#version06 .ico {
	fill: var(--color-v06);
}

.btn06 {
	border: 2px solid var(--color-v06);
}

.btn06:hover {
	background-color: var(--color-v06);
}

/*---- VERSION 07 ----*/
#version07 h1,
#version07 h2,
#version07 h3,
.btn07 h4,
a.versions.v07:hover {
	color: var(--color-v07);
}

a.versions.v07 {
	border-bottom: 2px solid var(--color-v07);
}

#version07 .ico {
	fill: var(--color-v07);
}

.btn07 {
	border: 2px solid var(--color-v07);
}

.btn07:hover {
	background-color: var(--color-v07);
}

/*---- VERSION 08 ----*/
#version08 h1,
#version08 h2,
#version08 h3,
.btn08 h4,
a.versions.v08:hover {
	color: var(--color-v08);
}

a.versions.v08 {
	border-bottom: 2px solid var(--color-v08);
}

#version08 .ico {
	fill: var(--color-v08);
}

.btn08 {
	border: 2px solid var(--color-v08);
}

.btn08:hover {
	background-color: var(--color-v08);
}
